@import "../../style//variables.css";

input[type="checkbox"] {
  accent-color: var(--dark-purple);
}
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}
label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 4px;
}
input {
  padding: 12px 10px;
  border: 1px solid var(--ligth-grey);
  border-radius: 5px;
}
